{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('static/home.css') }}">
    {% endblock %}
    {% block menu %}
        <a class="signup" href='{{ path('inscription') }}'>Inscription</a>
        <a class="login" href='{{ path('connexion') }}'>Connexion</a>
    {% endblock %}
{% block body %}
{% endblock %}
