{% extends './default/index.html.twig' %}

{% block body %}
    <div><pre>{{ error }}</pre></div>
    <form action="{{ path('connexion') }}" method="POST">
        <div class="login-form">
            <label>Login</label> <input type="text" name="_username" value="{{ last_username }}" required>
            <label>Password</label> <input type="password" name="_password" required>
        </div>

        <input type="submit" value="Se connecter">
    </form>
{% endblock %}